<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {{>navbar}}
    <script> 
        document.getElementById("about").className = "nav-item active";
    </script>
    <h1>about page</h1>
</body>
</html>